<p>This is the partial for view 1.!!</p>
<ul>
    <li
        ng-repeat="file in files">
        <img ng-src="{{file.thumbnailLink}}" alt="Description" />
        {{file.name}} : {{file.modifiedTime | date}}
    </li>
</ul>
